<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid b">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" [routerLink]="['/']" routerLinkActive="router-link-active"
                    aria-current="page" href="#">Home</a>
                <a class="nav-link" [routerLink]="['/clienti']" routerLinkActive="router-link-active"
                    href="#">clienti</a>
                <a class="nav-link" [routerLink]="['/AddClienti']" routerLinkActive="router-link-active" href="#"></a>
                <a class="nav-link" [routerLink]="['/Fatture']" routerLinkActive="router-link-active"
                    href="#">Fatture</a>
                <a class="nav-link" [routerLink]="['/Provincie']" routerLinkActive="router-link-active"
                    href="#">Provincie</a>
                <a class="nav-link" [routerLink]="['/Comune']" routerLinkActive="router-link-active" href="#">Comune</a>
            </div>
        </div>
    </div>
</nav>