<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Numero</th>
            <th scope="col">Anno</th>
            <th scope="col">Importo</th>
            <th scope="col">Cliente</th>
            <th scope="col">RagioneSociale</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> </th>
            <td> </td>
            <td></td>
            <td></td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td></td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td></td>
            <td>
                <button type="button" class="btn btn-danger btn-sm mx-1"><i class="bi bi-trash-fill"></i></button>
                <button type="button" class="btn btn-secondary btn-sm mx-1"><i class="bi bi-bookmark-plus"></i></button>
                <button type="button" class="btn btn-warning btn-sm mx-1"><i class="bi bi-pencil-square"></i></button>
            </td>
        </tr>
    </tbody>
</table>